In [1]:
#ordered unchangable and allow duplicates
t=("car","bike","bus","scooter",True,3.4,4)
print(t)

('car', 'bike', 'bus', 'scooter', True, 3.4, 4)

In [2]:
print(len(t))

7

In [3]:
print(type(t))

<class 'tuple'>

In [6]:
#if tuple contain same data type value then print the type
t1="car"
print(type(t1))
t2=3.4
print(type(t2))

<class 'str'>
<class 'float'>

In [8]:
#declared single value consider as variable

f=("car")
print(type(f))

#use coma the it will consider as tuple
f1=("car",)
print(type(f1))

<class 'str'>
<class 'tuple'>

In [10]:
#slicing in tuple
item=("coffee","tea","bournvita")
print(item[:3])

('coffee', 'tea', 'bournvita')

In [11]:
print(item[1:])

('tea', 'bournvita')

In [16]:
#add value in tuple indirectly
z=("happy","sad","angry","anxiety")
y=list(z)#convert list into tuple
y[1]="enthusiastic"

x=tuple(y)
print(x)

('happy', 'enthusiastic', 'angry', 'anxiety')